#grid-container {
  display: grid;
  grid-template-areas:
    "header header"
    "sidebar main"
    "sidebar main";
  grid-gap: 10px 10px;
  justify-content: center;
  grid-template-columns: 300px 700px;
  border: 1px solid blue;
}

.content {
  border: 1px solid red;
}

#header {
  height: 200px;
  grid-area: header;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("img/worlds_2021_banner_0.jpg");
  background-position: center;
  background-size: cover;
}

#sidebar {
  height: 700px;
  grid-area: sidebar;
}

#rank-info {
  height: 100px;
  width: 100%;
  border: 1px solid blue;
}

#game-info {
  height: 400px;
  width: 100%;
  border: 1px solid blue;
  margin-top: 10px;
}

#main-content {
  height: 700px;
  grid-area: main;
}
